DATABASE_URL="postgresql://postgres:postgres@localhost:5432/subscription_bounty?schema=public"
PORT=4000

# Choose either clerk or firebase
AUTH_PROVIDER="clerk"
CLERK_SECRET_KEY=""
FIREBASE_PROJECT_ID=""

# Plaid configuration
PLAID_CLIENT_ID=""
PLAID_SECRET=""
PLAID_ENV="sandbox"

# Email providers
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
MICROSOFT_CLIENT_ID=""
MICROSOFT_CLIENT_SECRET=""
